<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BIO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../style/bootstrap.css" />

    <link rel="stylesheet" type="text/css" media="screen" href="../style/portfolio.css" />
    <script src="../script/portfolio.js"></script>
</head>

<body class="bioPage">
    <div class="navbar-inverse navbar-default navbar-static-top topBar">
        <div class="container-fluid">
            <div class="navbar-header">

            </div>
            <a href="../index.html" class="navbar-brand"> home
            </a>
            <a href="./portfolio.html" class="navbar-brand"> work</a>a>
            <a href="./exhibits.html" class="navbar-brand"> exhibits</a>a>
            <a href="./bio.html" class="navbar-brand"> bio
                <a/>
                <a href="../index.html" class="navbar-brand"> home</a>a>
                <!-- nav bar please -->
        </div>
    </div>

    <div class="container bioBox">
            <div class="profileBackground">
                <div class="profPic">
    
                    <img id="myPicture" src="../portfoliopictures/upClose.jpg" target="my picture">
                    <p id="bioWriteup">Bacon ipsum dolor amet frankfurter ground round corned beef venison tail. Ball tip strip steak fatback pancetta. Shoulder chuck rump bresaola. Ham short loin kielbasa leberkas beef biltong t-bone buffalo jerky tongue prosciutto beef ribs capicola salami boudin. Strip steak tenderloin corned beef, buffalo brisket boudin salami jowl capicola. Turducken pastrami pork chop, porchetta kevin tri-tip brisket filet mignon biltong prosciutto flank picanha andouille meatball ball tip. Meatball leberkas shankle, shoulder pork belly andouille burgdoggen fatback.

                            Kevin pork belly flank meatball. Jowl corned beef biltong shank short loin brisket pork belly drumstick t-bone. Kielbasa beef ribs venison shankle shoulder beef salami rump pork. Pastrami kielbasa tenderloin, porchetta hamburger chicken pork loin ribeye rump pancetta ham hock. Drumstick porchetta boudin ham hock, chuck jerky cow pork chop biltong shoulder fatback.
                    </p>
                            <img id="myPicture2" src="../portfoliopictures/wreath.jpg" target="my picture">

                     <p id="bioWriteup">      Swine tail jerky shankle bacon. Tenderloin ground round ham hock, porchetta meatloaf chuck landjaeger. Corned beef turkey tongue doner, short loin meatloaf pig. Beef ribs rump pancetta boudin, brisket pork belly jowl filet mignon short loin kevin short ribs. Pastrami chuck swine picanha turkey capicola jowl ribeye tail fatback andouille shank bresaola buffalo frankfurter. Ribeye meatloaf sausage spare ribs, pastrami flank doner kielbasa ground round jowl fatback prosciutto brisket capicola t-bone. Ground round pork cupim shankle.



                    </p>

                </div>
            </div>
        </div>


    <div class="footer btmPage">
        <br>
        <p>
            <a href="./portfolio.html">Current Pieces</a> |
            <a href="./exhibits.html">Upcoming showcases</a> |
            <a href="./contactMe.html">Contact Me</a>
        </p>
        <p id="copyright"> &copy copyright by Beowulf</p>

    </div>
</body>

</html>