<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BIO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../style/bootstrap.css" />

    <link rel="stylesheet" type="text/css" media="screen" href="../style/portfolio.css" />
    <script src="../script/portfolio.js"></script>
</head>

<body class="contactPage">
        <div class="navbar-inverse navbar-default navbar-static-top topBar">
                <div class="container-fluid">
            <div class="navbar-header">

            </div>
            <a href="../index.html" class="navbar-brand"> home
            </a>
            <a href="./portfolio.html" class="navbar-brand"> work</a>a>
            <a href="./exhibits.html" class="navbar-brand"> exhibits</a>a>
            <a href="./bio.html" class="navbar-brand"> bio
                <a/>
                <a href="../index.html" class="navbar-brand"> home</a>a>
                <!-- nav bar please -->
        </div>
    </div>

    <div class="container">
        <div class="profileBackground">
            <div class="profPic">

                <img id="myPicture" scr="../portfoliopics/upClose.jpg" target="my picture">
            </div>
        </div>
    </div>

    <div class="footer btmPage">
        <br>
        <p>
            <a href="./portfolio.html">Current Pieces</a> |
            <a href="./exhibits.html">Upcoming showcases</a> |
            <a href="./contactMe.html">Contact Me</a>
        </p>
        <p id="copyright"> &copy copyright by Beowulf</p>

    </div>
</body>

</html>