<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../style/bootstrap.css" />

    <link rel="stylesheet" type="text/css" media="screen" href="../style/portfolio.css" />
    <script src="../script/portfolio.js"></script>
</head>

<body>
    <div class="navbar-inverse navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">

            </div>
            <a href="../index.html" class="navbar-brand"> home
                <a>
                    <a href="./portfolio.html" class="navbar-brand"> work
                        <a>
                            <a href="./exhibits.html" class="navbar-brand"> exhibits
                                <a>
                                    <a href="index.html" class="navbar-brand"> home
                                        <a>
                                            <a href="index.html" class="navbar-brand"> home
                                                <a>
                                                    <!-- nav bar please -->
        </div>
    </div>

    <!-- set up the list of pictures with bootstrap grid -->
    <!-- as each picture is clicked, open in modal -->
    <!-- hover over to picture to enlarge it -->

    <div class="container">
        <div class="row">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3">

            </div>

            <div class="col-sm-3">

            </div>

            <div class="col-sm-3">

            </div>

        </div>

        <div class="row">
                <div class="col-sm-3">
    
                </div>
                <div class="col-sm-3">
    
                </div>
    
                <div class="col-sm-3">
    
                </div>
    
                <div class="col-sm-3">
    
                </div>
    
            </div>
            <div class="row">
                    <div class="col-sm-3">
        
                    </div>
                    <div class="col-sm-3">
        
                    </div>
        
                    <div class="col-sm-3">
        
                    </div>
        
                    <div class="col-sm-3">
        
                    </div>
        
                </div>
                <div class="row">
                        <div class="col-sm-3">
                                <img class="thumbs" src="../portfoliopictures/starwars1.jpg" alt="italian Villa">
                        </div>
                        <div class="col-sm-3">
                                <img class="thumbs" src="../portfoliopictures/starwars1.jpg" alt="italian Villa">

                        </div>
            
                        <div class="col-sm-3">
                                <img class="thumbs" src="../portfoliopictures/starwars1.jpg" alt="italian Villa">

                        </div>
            
                        <div class="col-sm-3">
                                <img class="thumbs" src="../portfoliopictures/starwars1.jpg" alt="italian Villa">

                        </div>
            
                    </div>
                    <div class="row">
                            <div class="col-sm-3">
                                    <img class="thumbs" src="../portfoliopictures/starwars1.jpg" alt="italian Villa">
                            </div>
                            <div class="col-sm-3">
                                    <img class="thumbs" src="../portfoliopictures/starwars1.jpg" alt="italian Villa">
    
                            </div>
                
                            <div class="col-sm-3">
                                    <img class="thumbs" src="../portfoliopictures/starwars1.jpg" alt="italian Villa">
    
                            </div>
                
                            <div class="col-sm-3">
                                    <img class="thumbs" src="../portfoliopictures/starwars1.jpg" alt="italian Villa">
    
                            </div>
                
                        </div>

                        <div class="row">
                                <div class="col-sm-3">
                                        <img class="thumbs" src="../portfoliopictures/starwars1.jpg" alt="italian Villa">
                                </div>
                                <div class="col-sm-3">
                                        <img class="thumbs" src="../portfoliopictures/starwars1.jpg" alt="italian Villa">
        
                                </div>
                    
                                <div class="col-sm-3">
                                        <img class="thumbs" src="../portfoliopictures/starwars1.jpg" alt="italian Villa">
        
                                </div>
                    
                                <div class="col-sm-3">
                                        <img class="thumbs" src="../portfoliopictures/starwars1.jpg" alt="italian Villa">
        
                                </div>
                    
                            </div>

                            <div class="row">
                                    <div class="col-sm-3">
                                            <img class="thumbs" src="../portfoliopictures/starwars1.jpg" alt="italian Villa">
                                    </div>
                                    <div class="col-sm-3">
                                            <img class="thumbs" src="../portfoliopictures/starwars1.jpg" alt="italian Villa">
            
                                    </div>
                        
                                    <div class="col-sm-3">
                                            <img class="thumbs" src="../portfoliopictures/starwars1.jpg" alt="italian Villa">
            
                                    </div>
                        
                                    <div class="col-sm-3">
                                            <img class="thumbs" src="../portfoliopictures/starwars1.jpg" alt="italian Villa">
            
                                    </div>
                        
                                </div>

                                <div class="row">
                                        <div class="col-sm-3">
                                                <img class="thumbs" src="../portfoliopictures/starwars1.jpg" alt="italian Villa">
                                        </div>
                                        <div class="col-sm-3">
                                                <img class="thumbs" src="../portfoliopictures/starwars1.jpg" alt="italian Villa">
                
                                        </div>
                            
                                        <div class="col-sm-3">
                                                <img class="thumbs" src="../portfoliopictures/starwars1.jpg" alt="italian Villa">
                
                                        </div>
                            
                                        <div class="col-sm-3">
                                                <img class="thumbs" src="../portfoliopictures/starwars1.jpg" alt="italian Villa">
                
                                        </div>
                            
                                    </div>
                
                        

    </div>
<br>
<br>
<br>
<br>

    <div class="footer btmPage">
        <p>
            <a href="./portfolio.html">Current Pieces</a> |
            <a href="./exhibits.html">Upcoming showcases</a> |
            <a href="./contactMe.html">Contact Me</a>
        </p>
        <p id="copyright"> &copy copyright by Beowulf</p>

    </div>
</body>

</html>